/* ### Contact Section ### */

.third-page-section {
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  gap: 3rem;

  max-width: var(--max-width);

  margin: 0 auto;
  width: 100%;
}
div.third-page-right-column-container,
div.third-page-left-column-container {
  flex-direction: column;
  display: flex;

  margin: 0 auto;
}

div.third-page-left-column-container {
  max-width: 800px;
  width: 100%;
}

.map-elements-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;


}

.map-elements {
  background-color: #f4f5f7;
  padding: 1rem;
  border-radius:8px;

  width: 100%;
}
.map-image-div {
  display: flex;
  justify-content: center;
}
/* .google-map-image {
  display: flex;
  justify-content: center;
  background-color: #f4f5f7;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  max-width: 742px;
  width: 100%;
} */

/* Google Map API on I frame */
.google-map-iframe {
  display: flex;
  justify-content: center;
  background-color: #f4f5f7;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  border-radius: 8px;
  width: 742px;
  /* height:637px; */
  max-width: 900px;
  width: 100%;

  height: 600px;

}


.address-div {
  display: flex;
  justify-content: space-around;
}
.address {
  display: flex;

  justify-content: center;

  background-color: #f4f5f7;

  font-weight: bold;
  font-size: 2rem;
}

.get-directions {
  align-self: flex-start;
  display: flex;

  margin-top: 1rem;
}

.get-directions {
  justify-content: center;
  align-items: center;
  display: flex;
  
  font-size: 1.125rem;
  color: #fff;

  width: 154px;
  height: 48px;

  border-radius: 6px;
  border: none;

  background-color: #f53030;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  
}

.get-directions:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);

  text-decoration: none;
  
  cursor: pointer;
}

.socials-container {
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;

  margin-top: 2rem;

  width: 100%;

  /* word-break: break-word; */

  
}

.facebook-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;

  margin: 2rem;
}

.facebook-logo-container:hover {
  cursor: pointer;
}
.facebook-text {
  font: "Inter";
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.cellphone-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;

  /* font-weight: 1; */

  margin: 2rem;
}

.cellphone-logo-container:hover {
  cursor: pointer;

}

.cellphone-text {
  font: "Inter";
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.third-page-right-column-container {
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.store-elements-container {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 2.5rem;
}
.store-image {
  background-color: pink;

  display: flex;
  margin: 0;

  /* maintains aspect ratio */
  max-width: 630px;
  width: 100%;

  border-radius: 8px;
}

.hours-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  
  height: auto;

  margin-top: 2.5rem;
  margin: 0;

  background-color: black;

  border-radius: 8px 8px 0 0;

  max-width: 450px;
  width: 100%;
}

.hours-text {
  display: flex;

  margin: 2.5rem;
  color: white;
}

.days-and-time-div {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;

  width: 100%;

  margin: 2rem;
  color: white;

  padding: 0 2rem;
}
.days-text {
  display: flex;
  color: white;
}

.time-text {
  display: flex;

  color: white;
}

.saturday-div {
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  
  color: white;
  width: 100%;
}

.saturday-text {
  display: flex;

  gap: 900px;
}

.saturday-time-text {
  display: flex;

  
}

.sunday-div {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;

  margin: .5rem;
  color: white;

  width: 100%;

  padding: 0 2rem;
  padding-top: 1rem;
}

.sunday-div > .closed-text {
  color: red;
}

.sunday-text {
  display: flex;
}

.closed-text {
  display: flex;
}
