:root {
    --max-width: 1800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';

}



body {
    display: flex;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    display: flex;

    padding-top: .3rem;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */



    /* line-height: 1.6; */
    /* margin: 10, 10; */
    /* min-height: 100vh; */

    /* padding-top: .3rem; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem;     */
}



    .nav-section {
        display: flex;
        flex-direction: column;


        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 1rem;

        /* background-color: yellow; */
    }

        .top-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            
            margin: 0;
            
        }

        ul {
            list-style: none;
            list-style-type:none;
            margin: 0;
            padding: 0;
        }

            .top-nav-lists {
                /* background-color:purple; */
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                margin: 0;
                width: 100%;

                font-size: .99em;

                flex-direction:row;
                align-items:center;
                /* position: absolute; */
                

            }

                .nav-hours {
                    /* background-color:brown; */
                    display:flex;
                    flex-direction:row;
                    justify-content:center;
                    align-items:center;
                    gap: 10px;

                    margin: 0;
  
                }

                .nav-hours:hover {
                    cursor: pointer;
                }
                    .clock-icon-span {
                        display: flex;
                    
                        margin: 0;
                        font-size: 1.45em;
                    }

                    h4 {
                        display: flex;
                        flex-direction:row;
                        align-items:center; 
                        /* padding: 10px 15px; */
                        
                        text-transform: uppercase;
                        text-align: center;
                        display: block;

                        /* padding-top: 30px; */
 
                
                    }

                .nav-address {
                    /* background-color:red; */
                    display: flex;
                    align-items:center;
                    gap: 10px;
                }

                .nav-address:hover {
                    cursor: pointer;
                }

                    .nav-address-span {
                        display: flex;
                        /* align-self: center; */

                        margin: 0;
                        font-size: 1.45em;
                    }

                    /* h4 same styling as above [pls. see above (.clock-icon-span) h4 sytling] */

                .nav-phone {
                    /* background-color:green; */
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .nav-phone:hover {
                    cursor: pointer;
                }

                    .nav-phone-span {
                        display: flex;
                        align-self: center;
                        
                        margin: 0;
                        font-size: 1.45em;
                    }

                        /* ################ Bottom Nav ############ */


        .bottom-nav {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            /* background-color: yellow; */
        }

            

            ul.bottom-nav-lists {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
            }

            ul.bottom-nav-lists > li {
                padding: 19px;
            }

            /* ul.bottom-nav-lists > li:hover {
                    cursor: pointer;
                } */

                li:hover {
                    cursor: pointer;
                }

                    /* ############### Hero Section ############### */


    .hero-section {
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        background-color: #f4f5f7;

        width: 100%;

        margin: 0 auto;
        padding: 0 1rem;
    }

        .hero-section-div {
            display: flex;

            justify-content: space-around;
            margin: 0 auto;
            
            max-width: var(--max-width);
            width: 100%;

            background-color: #F4F5F7;
            /* padding-bottom: 20px; */
            /* border: 2rem solid white; */
            /* border-top: 1rem solid white;
            border-bottom: 2rem solid white; */
        }

            .hero-text-left-column {
                display: flex;
                flex-direction: column;
                justify-content: center;

                gap: 2rem;
                width: 40%;
            }

                .large-hero-text {
                    display: flex;
                    flex-direction:column;

                    justify-content:center;

                    /* padding-top: 5%; */
                }

                .large-hero-text > h1 {
                    font-size: 90px;

                    font-weight: 800;
                }

                    .hero-text {
                        display: flex;
                    }
                
                .small-hero-text-div {
                    display: flex;

                }

                    .small-hero-text {

                        max-width: 75%;

                        display: flex;

                        font-weight: normal;
                        text-transform: none;

                        text-align: left;

                        
                    }


                .cta-button-div {
                    display: flex;
                    align-self: flex-start;
                    /* justify-self: flex-end; */
                    margin-top: 4rem;

                    
                }

                    .cta-button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        /* padding: 8px 10px 10px 10px; */

                        /* position: absolute; */
                        width: 154px;
                        height: 48px;
                        /* left: 123px; */
                        /* top: 728px; */
                        border-radius: 6px;
                        background: #F53030;
                        color: #fff;
                        border: none;
                        transition: all 0.3s ease-in-out;
                        
                    }

                    .cta-button:hover {
                        background: #3cb0fd;
                        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
                        text-decoration: none;
                        cursor: pointer;
                    }





        .hero-image-right-column {
            display: flex;
        }

            .wedding-dress-image {
                display: flex;

                padding: 18px 6px;
                /* width: 550px; */

                /* max-width: 100%; */
                height: auto;
            }



                                        /* ##### Second Page ####    */

    section.reviews-section {
        font-weight: bold;
        color: #D9D9D9;
        font-size: 1rem;

        padding: 1.5rem;

        background-color: #0B0D17;

        width: 100%;

        margin-bottom: 2rem;
    }

    div.carousel-cell {
        width: 100%;

        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;

        text-align: center;

        padding-bottom: 1rem;
    }

    div.carousel-cell-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    div.carousel-cell-container > img {
        width: 20px;
        height: auto;

        margin: 0.25rem;
        margin-left: -0.25rem;
    }

    div.carousel-cell-container > p {
        font-weight: normal;
        text-align: left;

        max-width: 90%;
    }

    div.carousel-cell-container div.review-author {
        text-align: right;
        
        max-width: 90%;

        margin-bottom: 1rem;
    }


    /* ######### About Us Section ######### */

    section.reviews-section > button.flickity-button {
        display: none;
    }

    section.reviews-section > ol.flickity-page-dots {
        left: 0;
    }

    section.about-us-section {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        display: grid;

        max-width: var(--max-width);
        margin: 0 auto;
    }

    section.about-us-section div.about-us-large-text {
        grid-column: 1 / 4;
        grid-row: 1 / 2;

        font-size: 3rem;
        font-weight: bold;

        max-width: 1900px;
        width: 100%;

        margin: 0 auto;
        margin-bottom: 3rem;

        padding: 0 1rem;
    }

    section.about-us-section div.about-us-large-text span {
        display: block;
    }

    div.floating-images {
        grid-column: 1 / 2;
        grid-row: 2 / 4;

        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        display: grid;
        gap: 2rem;

        padding: 0 1rem;
    }

    div.floating-images > img {
        justify-self: flex-end;
    }

    div.floating-images > img:first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        align-self: center;
        display: flex;

        max-width: 300px;
        min-width: 250px;
        width: 100%;
    }

    div.floating-images > img:nth-child(2) {
        max-width: 375px;
        min-width: 300px;
        width: 100%;
    }

    div.floating-images > img:last-child {
        max-width: 375px;
        min-width: 300px;
        width: 100%;
    }


    div.floating-paragraph {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

        flex-direction: column;
        align-items: flex-start;
        display: flex; 

        font-size: 1.125rem;
        text-align: center;

        max-width: 800px;
        width: 100%;

        margin: 0 auto;
        margin-bottom: 3rem;

        padding: 3rem 5rem;

        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    }

    div.floating-paragraph > p {
        margin-bottom: 1rem;

        line-height: 2rem;
    }
    div.floating-paragraph > img {
        width: 50px;

        margin-left: -3rem;
        margin-bottom: 3rem;
    }

    div.brand-names {
        grid-column: 2 / 4;
        grid-row: 3 / 4;

        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        display: flex;

        border-top: 1px solid #D9D9D9;
    }

    div.brand-names > img {
        margin: 4rem 0;
    }

       /* ### Third Page Section ### */
    
    .third-page-section {
        display: flex;
        flex-direction:row;
        justify-content:space-around;

        /* background-color: yellow; */
    }

        .third-page-left-column-container {
            display: flex;
            flex-direction: column;
            /* justify-content:space-around; */

            width: 56%;

            /* background-color:orange; */

        }
            .map-elements-container {
                flex-direction: column;
                align-items:center;
                display: flex;

                /* background-color: skyblue; */
                /* width: 56%; */
            }

                .map-elements {
                    background-color:#f4f5f7;
                    padding: 1rem;
                    
                }
                    .map-image-div {
                        display: flex;
                        justify-content: center;
                    }
                        .google-map-image {
                            display: flex;
                            justify-content:center;
                            /* background-color: purple; */
                            background-color: #f4f5f7;

                            /* width: 742px;
                            height: 637px;
                            left: 70px;
                            top: 52px; */

                            /* padding-top: 2rem; */
                            margin-top: 0.5rem;
                            padding-left: 1rem;
                            padding-right: 1rem;
                            padding-top: 1rem;
                            padding-bottom: 2rem;


                        }
                    
                    .address-div {
                        display: flex;
                        justify-content: around;
                    }    
                        .address {
                            display: flex;
                            
                            justify-content: center;

                            /* background-color: green; */
                            background-color: #f4f5f7;

                            font-weight:bold ;
                            font-size: 2rem;
                        }

                    
                    .get-directions {
                        display: flex;
                        align-self: flex-start;
                        /* justify-self: flex-end; */
                        margin-top: 1rem;

                        
                    }

                        .get-directions {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            /* padding: 8px 10px 10px 10px; */

                            /* position: absolute; */
                            width: 154px;
                            height: 48px;
                            /* left: 123px; */
                            /* top: 728px; */
                            border-radius: 6px;
                            background: #F53030;
                            color: #fff;
                            border: none;
                            transition: all 0.3s ease-in-out;
                            
                        }

                        .get-directions:hover {
                            background: #3cb0fd;
                            background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
                            background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
                            background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
                            background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
                            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
                            text-decoration: none;
                            cursor: pointer;
                        }



                    .socials-container {
                        display: flex;
                        flex-direction: row;
                        
                        margin-top: 20px;

                        justify-content: space-around;
                        width: 100%;
                        margin-top: 2rem;
                        margin-bottom: 2rem;

                        /* background-color: orange; */
                    }

                        .facebook-logo-container {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            
                            
                            /* background-color: purple; */

                        
                        }

                        .facebook-logo-container:hover {
                            cursor: pointer;
                        }
                            .facebook-text {
                                font: 'Inter';
                                font-weight:  600;
                            }


                        .cellphone-logo-container {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            font-weight: 1;
                            /* background-color: green; */
        
                        }

                        .cellphone-logo-container:hover {
                            cursor: pointer;
                        }
                        
                            .cellphone-text {
                                font: 'Inter';
                                font-weight: 600;
                            }
                        



        .store-elements-container {
            display: flex;
            flex-direction: column;

            background-color: blue;

            width: 550px;
            height: 530px;
        }
            .store-image {
                width: 100%;
                margin: 0;
            }
        
            .hours-container {
                display: flex;
                border:8rem black solid;
            }






        footer {
            display: flex;

            background-color: red;
        }


/* ================================= 
    Media Queries
==================================== */

@media screen and (max-width: 1400px) {
    section.about-us-section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    div.floating-images {
        display: none;
    }

    div.floating-paragraph {
        grid-column: 1 / 3;
    }

    div.brand-names {
        grid-column: 1 / 3;
    }
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (max-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;

	}

    div.brand-names {
        flex-direction: column;
    }

    div.brand-names > img {
        margin: 1rem 0;
    }

}
