* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';

}



body {
    display: flex;
    /* background-color: beige; */
    max-width: 1800px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding-top: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;



    /* line-height: 1.6; */
    /* margin: 10, 10; */
    /* min-height: 100vh; */

    
}



    .nav-section {
        display: flex;
        flex-direction: column;

        /* background-color: yellow; */
    }

        .top-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            
            margin: 0;
            
            
            /* background-color: orange; */
        }

        ul {
            list-style: none;
            list-style-type:none;
            margin: 0;
            padding: 0;
        }

            .top-nav-lists {
                /* background-color:purple; */
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                margin: 0;
                width: 100%;

                font-size: .99em;

                flex-direction:row;
                align-items:center;
                /* position: absolute; */
                

            }

                .nav-hours {
                    /* background-color:brown; */
                    display:flex;
                    flex-direction:row;
                    justify-content:center;
                    align-items:center;
                    gap: 10px;

                    margin: 0;
  
                }
                    .clock-icon-span {
                        display: flex;
                    
                        margin: 0;
                        font-size: 1.45em;
                    }

                    h4 {
                        display: flex;
                        flex-direction:row;
                        align-items:center; 
                        /* padding: 10px 15px; */
                        
                        text-transform: uppercase;
                        text-align: center;
                        display: block;

                        /* padding-top: 30px; */
 
                
                    }

                .nav-address {
                    /* background-color:red; */
                    display: flex;
                    align-items:center;
                    gap: 10px;
                }

                    .nav-address-span {
                        display: flex;
                        /* align-self: center; */

                        margin: 0;
                        font-size: 1.45em;
                    }

                    /* h4 same styling as above [pls. see above (.clock-icon-span) h4 sytling] */

                .nav-phone {
                    /* background-color:green; */
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                    .nav-phone-span {
                        display: flex;
                        align-self: center;
                        
                        margin: 0;
                        font-size: 1.45em;
                    }

                        /* ################ Bottom Nav ############ */


        .bottom-nav {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;
            /* background-color: yellow; */
        }

            

            ul.bottom-nav-lists {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
            }

            ul.bottom-nav-lists > li {
                padding: 19px;
            }

                    /* ############### Hero Section ############### */


    .hero-section {
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
        background-color: #f4f5f7;
    }

        .hero-section-div {
            display: flex;

            justify-content: space-around;
            margin: 0;
            
            width: 100%;

            background-color: #F4F5F7;
            /* padding-bottom: 20px; */
            /* border: 2rem solid white; */
            /* border-top: 1rem solid white;
            border-bottom: 2rem solid white; */
        }

            .hero-text-left-column {
                display: flex;
                flex-direction: column;
                justify-content: center;

                gap: 2rem;
                width: 40%;
            }

                .large-hero-text {
                    display: flex;
                    flex-direction:column;

                    justify-content:center;

                    /* padding-top: 5%; */
                }

                .large-hero-text > h1 {
                    font-size: 90px;

                    font-weight: 800;
                }

                    .hero-text {
                        display: flex;
                    }
                
                .small-hero-text-div {
                    display: flex;

                }

                    .small-hero-text {

                        max-width: 75%;

                        display: flex;

                        font-weight: normal;
                        text-transform: none;

                        text-align: left;

                        
                    }


                .cta-button-div {
                    display: flex;
                    align-self: flex-start;
                    /* justify-self: flex-end; */
                    margin-top: 4rem;

                    
                }

                    .cta-button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        /* padding: 8px 10px 10px 10px; */

                        /* position: absolute; */
                        width: 154px;
                        height: 48px;
                        /* left: 123px; */
                        /* top: 728px; */
                        border-radius: 6px;
                        background: #F53030;
                        color: #fff;
                        border: none;
                        transition: all 0.3s ease-in-out;
                        
                    }

                    .cta-button:hover {
                        background: #3cb0fd;
                        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
                        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
                        text-decoration: none;
                        cursor: pointer;
                    }





        .hero-image-right-column {
            display: flex;
        }

            .wedding-dress-image {
                display: flex;

                padding: 18px 6px;
                /* width: 550px; */

                /* max-width: 100%; */
                height: auto;
            }





















                                        /* ##### Second Page ####    */

    .reviews-section {
        display: flex;

        background-color: orange;
    }

    .about-us-section {
        display: flex;

        background-color: red;
    }

        .about-us-large-text {
            display: flex;

            background-color: yellow;
        }

        .floating-images {
            display: flex;

            background-color: blue;
        }


    .floating-paragraph {
        display: flex; 

        background-color: red;
    }

    .brand-names {
        display: flex;

        background-color: yellow;
    }


                                    /* ### Third Page Section ### */
    
    .third-page-section {
        display: flex;

        background-color: blue;
    }

        .map-elements-container {
            display: flex;

            background-color: red;
        }

            .map-elements {
                display: flex;

                background-color: yellow;
            }

                .google-map {
                    display: flex;

                    background-color: blue;
                }

                .address {
                    display: flex;

                    background-color: red;
                }

                .get-directions {
                    display: flex;

                    background-color: yellow;
                }

                .socials-container {
                    display: flex;

                    background-color: blue;
                }

                    .facebook-logo-container {
                        display: flex;

                        background-color: red;
                    }


                    .cellphone-logo-container {
                        display: flex;

                        background-color: yellow;
                    }

        .store-elements-container {
            display: flex;

            background-color: blue;
        }
        
        




        footer {
            display: flex;

            background-color: red;
        }


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;

	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}