body {
    display: flex;
    background-color: beige;
    margin: 0;
    display: flex;
    flex-direction: column;

    
}

    .nav-section {
        display: flex;
        flex-direction: column;


        background-color: red;
    }

        .top-nav {
            display: flex;
            justify-content: center;
            

            background-color: yellow;
        }

        ul {
            list-style-type:none;
        }

        .top-nav-lists {
            background-color:purple;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

            .nav-hours {
                background-color:blue;
                display:flex;
                /* justify-content: space-between; */
            }
                .clock-icon-span {
                    display: flex;
                    align-self: center;
                    /* margin-left: 6px;
                    margin-right: 6px; */
                }

            .nav-address {
                background-color:red;
                display: flex;
                /* justify-content: space-between; */
            }

            .nav-phone {
                background-color:green;
                display: flex;
                align-self: center;
            }







        

        .bottom-nav {
            display: flex;

            background-color: blue;
        }


    .hero-section {
        display: flex;

        background-color: pink;
    }

        .hero-section-div {
            display: flex;

            background-color: purple;
        }


                                        /* ##### Second Page ####    */

    .reviews-section {
        display: flex;

        background-color: orange;
    }

    .about-us-section {
        display: flex;

        background-color: red;
    }

        .about-us-large-text {
            display: flex;

            background-color: yellow;
        }

        .floating-images {
            display: flex;

            background-color: blue;
        }


    .floating-paragraph {
        display: flex; 

        background-color: red;
    }

    .brand-names {
        display: flex;

        background-color: yellow;
    }


                                    /* ### Third Page Section ### */
    
    .third-page-section {
        display: flex;

        background-color: blue;
    }

        .map-elements-container {
            display: flex;

            background-color: red;
        }

            .map-elements {
                display: flex;

                background-color: yellow;
            }

                .google-map {
                    display: flex;

                    background-color: blue;
                }

                .address {
                    display: flex;

                    background-color: red;
                }

                .get-directions {
                    display: flex;

                    background-color: yellow;
                }

                .socials-container {
                    display: flex;

                    background-color: blue;
                }

                    .facebook-logo-container {
                        display: flex;

                        background-color: red;
                    }


                    .cellphone-logo-container {
                        display: flex;

                        background-color: yellow;
                    }

        .store-elements-container {
            display: flex;

            background-color: blue;
        }
        
        
        footer {
            display: flex;

            background-color: red;
        }